{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% extends "hmpo-template.njk" %}
{% set hmpoPageKey = "done" %}

{% block mainContent %}
    {{ super() }}

    <h2 class="govuk-heading-l">Data sent out</h2>

    {{ govukSummaryList({
        rows: sentValuesSummaryList
    }) }}

    <h2 class="govuk-heading-l">Data received</h2>

    {{ govukSummaryList({
        rows: responseValuesSummaryList
    }) }}

    <form action="/oauth2/authorize" method="POST">
        {{ govukButton({ text: translate("buttons.authorizeAndReturn") }) }}
    </form>
{% endblock %}
